.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navbar {
    overflow: hidden;
    display: block;
    background-color: #fff!important;
    padding: 8px 16px 0px!important;
    width: 100%;
    letter-spacing: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.menu {
    color: black!important;
    float: left;
    width: auto;
    border: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 16px;
}
.menu-item {
    color: black!important;
    float: right!important;
    padding-right: 5%;
}
.container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:66%;
    letter-spacing: 4px;
}
.header {
    position: absolute;
    margin-top: 16px!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header-text {
    font-size: 36px!important;
    color: #fff!important;
}
.center {
    text-align: center!important;
}
.bubble {
    position: relative;
    float: left;
    cursor: pointer;
}
.item {
    position: relative;
    display: inline-block;
    padding: 1rem;
    width: 45%;
}
.img {
    color: #111111;
    overflow: hidden;
    object-fit: cover;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
    text-align: left;
    border-left: 0!important;
    border-right: 0!important;
    padding: 20% 0%;
}
.heading-text {
    position: relative;
    text-align: center;
    font-family: 'Playfair Display', serif !important;
    font-size: 6rem;
    font-weight: 400;
    line-height: 0.8;
}
.inputs {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.footer {
    background-color: black;
    margin: auto;
    height: auto;
    width: 100%;
    padding: 10px 0px;
    bottom: 0px;
    left: 0px;
}
.footer-social-icons ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-social-icons ul li {
    display: inline-block;
    background: white;
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    border-radius: 100%;
}
.footer-social-icons ul li a {
    color: black;
    font-size: 15px;
}
.footer-social-icons ul li a i {
    line-height: 30px;
}
.fa:hover {
    opacity: 0.7;
}
/* ---- INDEX PAGE ---- */
.index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 20%;
    overflow: hidden;
}
.column {
    float: left;
    overflow: hidden;
    width: 32%;
    height: auto;
    padding: 5px;
}
.box::after {
    content: "";
    clear: both;
    display: table;
  }
/* ---- EXPERIENCE PAGE ---- */
.jobs {
    padding-top: 5%; 
    padding-left: 20%;
    padding-bottom: 10%;
}
.jobs-img {
    height: auto;
    width: 200px;
    padding: 3%;
    border-radius: 50%;
}
.jobs-title {
    float: right;
    text-align: center;
    padding-right: 30%;
    padding-top: 5%;
}
.center {
    text-align: center;
}
ul li { 
    padding: 5px 0px; 
}
/* ---- ABOUT PAGE ---- */
.about-text {
    text-align: justify;
    font-family: monospace;
    font: 3em;
    line-height: 2;
}
hr { 
    background-color:black;
    display:block;
    width: 100%;               
    border: 10px;
    height: 1px;
  }

.aboutme1 {
    background-image: url(images/aboutme1.jpg);
    background-position: 50% 80%;
}
.align-middle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 20%;
}
.layout-col {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: 100%;
    flex: 1 1 100%;
}
.layout-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10%;
    flex: 1 1 100%;
    min-height: 100%;
    max-width: 100%;
}
.layout-row > .size-30 {
    flex: 0 0 50%;
    max-width: 50%;
}
.layout-col > .size-30 {
    flex: 30 0 50%;
}
.about-img {
    position: relative;
    display: flex;
    text-align: left;
    background-clip: padding-box;
    background-origin: padding-box;
    background-color: transparent !important;
    opacity: 1;
    flex: 50%;
    max-width: 50%;
}
.container-contact {
    position: relative;
    margin: 6% 30%;
}
.container-main {
    position: relative;
    margin: 6% 10%;
}
.container1 {
    position: relative;
    box-sizing: border-box;
    flex: 1;
    max-width: 100%;
    padding: 30px;
}
.container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-width: 100%;
    padding: 30px;
}
/* ---- PROJECT PAGE ---- */
.row {
    margin: 2% 15%;
}
.project-header {
    margin-top: 7%;
}
.project-header-text {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.project-entries {
    color: #000!important;
    background-color: #fff!important;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    margin: 16px!important;
}
.project-container {
    padding: 1em 15%;
}
.project-entries-img {
    float:left;
    max-width: 50%;
    max-height: auto;
}
.read-more-button {
    color: #000!important;
    background-color: #fff!important;
    border: 3px solid #ccc!important;
    float: right;
    padding: 5px 15px!important;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

